- name: "Get latest version of {{ secret_name }}"
  shell: |
    gcloud secrets versions list {{ secret_name }} \
      --project {{ project }} \
      --limit 1 \
      --filter 'state=enabled' \
      --format 'value(name)' \
      --quiet
  register: latest_version
  delegate_to: localhost
  become: no
  changed_when: false
  when: secret_version is not defined

- name: "Read {{ secret_name }}"
  shell: |
    gcloud secrets versions access \
      {{ secret_version | default(latest_version.stdout) }} \
      --project {{ project }} \
      --secret {{ secret_name }}
  register: _secret_result
  delegate_to: localhost
  become: no
  run_once: true
  no_log: true
  changed_when: false

- name: "Save secret value to {{ output_var }}"
  set_fact:
    "{{ output_var }}": "{{ _secret_result.stdout }}"
  no_log: true

 